<!-- </body>
</html> -->
  
    <!-- <hr> -->
    <div class="footer">
      <div class="toplink">
        <div class="block left">
          <h4>合作伙伴</h4>
          <hr class="ft">
          <ul>
            <li>商业合作</li>
            <li>网易新闻</li>
            <li>网易新闻</li>
          </ul>
        </div>
        <div class="block center">
          <h4>常见问题</h4>
          <hr class="ft">
          <ul>
            <li>商业合作</li>
            <li>网易新闻</li>
            <li>网易新闻</li>
          </ul>
        </div>
        <div class="block right">
          <h4>联系我们</h4>
          <hr class="ft">
          <ul>
            <li>商业合作</li>
            <li>网易新闻</li>
            <li>网易新闻</li>
          </ul>
        </div>
      </div>
      <div class="bottom">
        <p>Copyright @copy icon 版权所有</p>
      </div>
    </div>
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  </body>
</html>