<!DOCTYPE html>
<html>
  <head>
    <title>myblog</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="header">
      <div class="navbar-header">
        <a href="/">我的博客</a>
      </div>
        <div class="navbar-user">
          <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/creates">新建</a></li>
            <li><a href="/reg">注册</a></li>
            <li><a href="/login">登录</a></li>
            <li><a href="/language">Eng</a></li>
          </ul>
        </div>
    </div>

