<%- include('header') %>

<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

<div class="login">
    <form class="form-login" method="post">
      <label class="username">
        <span>用户名</span>
        <input placeholder="用户名" type="text" name="name">
      </label>
      <label class="password">
        <span>密码</span>
        <input placeholder="密码" type="password" name="password">
      </label>
      <input type="submit" class="submit" value="登录">
    </form>  
</div>

<%- include('footer') %>