<%- include header %>

<link rel="stylesheet" href="/stylesheets/reg.css">

<form class="reg" method="post">
    <label>
        <span>用户名</span>
        <input text='text' name="" placeholder="请输入用户名">
    </label>
    <label>
        <span>密码</span>
        <input text='password' name="" placeholder="请输入密码">
    </label>
    <label>
        <span>邮箱</span>
        <input text='email' name="" placeholder="请输入邮箱">
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="发表">
    </label>
</form>

<%- include footer %>