/**
 * footer.css
 */

.footer {
  /* border: 0.5px solid #0bc;  */
  position: fixed;
  width: 100%;
  min-width: 1020px;
  padding: 2px 0px;
  bottom: 0;
}

.toplink {
  width: 80%;
  margin: 0 auto;
}

.block {
  margin: 0 auto;
  display: table;
}

.block ul {
  height: 0px;
  margin: 0 auto;
  padding: 0px;
}

.block li {
  /* border: 0.5px solid #0bc;  */
  font-size: 10px;
  float: left;
  padding: 0px 10px;
  color: #0bf;
}

.bottom {
  text-align: center;
  color: #0bf;
  /*background: #0bf;*/
  margin: 10px 0;
}

.ft {
  width: 75%;
  border: 0.5px dashed #333;
  text-align: left;
}