/**
 * header,menu
 */

body {
  width: auto;
  height: 100%;
  margin: 0 auto;
  padding: 0px 0px;
  font: 14px "Microsoft yahei";
}

ul {
  list-style-type: none;
}

a {
  color: #00B7FF;
  padding: 10px 12px;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

h3 {
  color: #00B7FF;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

/*h4 {
  font-size: 10px;
  font-weight: normal;
  padding: 20px 10px 0 40px;
}*/

.header {
  /*border: 0.5px solid #0bc; */
  background: #666;
  min-width: 1020px;
  height: 45px;
  padding: 10px 0px;
  margin: 0px;
  position: relative;
  z-index: 32;
}

.header span {
  padding: 0px 0px 0px 300px;
  float: left;
}

.header .menu {
  float: right;
  text-decoration: none;
  padding: 0px 300px 0px 0px;
  margin:  0px 0px 0px 0px;
}
.header ul {
  text-align: right;
  padding: 5px 0px 0px 0px;
  margin: 10px auto;
}

.header li {
  float: left;
}


