/**
 * header,menu
 */

body {
  width: auto;
  /*min-width: 1020px;*/
  height: 100%;
  padding: 0px 0px;
  margin: 0px auto;
  font: 14px "Microsoft yahei";
}

ul {
  list-style-type: none;
}

a {
  color: #00B7FF;
  padding: 5px 10px;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

h3 {
  color: #00B7FF;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

/*h4 {
  font-size: 10px;
  font-weight: normal;
  padding: 20px 10px 0 40px;
}*/

.header {
  /*border: 0.5px solid #666; */
  background: #666;
  height: 45px;
  min-width: 1020px;
  padding: 0px;
  margin: 0px;
  /*position: relative;*/
  z-index: 32;
}

.header span {
  /*border: 1px solid red; */
  text-align: center;
  width: 20%;
  padding: 5px 100px; 
  margin: 0px 0px;
  float: left;
}

.header .menu {
  /*border: 1px solid red;*/
  float: right;
  text-decoration: none;
  padding: 5px 180px;
  margin:  0px auto;
}
.header ul {
  text-align: right;
  padding: 5px 0px 0px 0px;
  margin: 10px auto;
}

.header li {
  float: left;
}


