/**
 * body-br
 */

.bbr {
  width: 95%;
  text-align: center;
  /*margin: 0px 200px 0px 200px;*/
}


/* ---------- section ---------- */

section {
  width: 75%;
  min-width: 1020px;
  /* height: 100%; */
  padding: 10px 0px 0px 0px; 
  margin: 0px auto;
  box-shadow: rgba(187,187,187,1) 10px 15px 20px -3px;
}

/* ---------- blog list ---------- */

.blog-list {
   /* border: 1px solid red;  */
  width: 75%;
  min-width: 300px;
  height: 95%;
  float: left;
  padding: 50px 0px 5px 30px;
}

.list-group {
  /* border: 1px solid red; */
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.blogs {
   /*border: 1px solid red; */
  height: 50px;
  /* background: #ccc; */
  padding: 0px;
}

.blog-title {
  /* border: 1px solid red; */
  width: 75%;
  /* height: 200%; */
  font-size: 20px;
  float: left;
}

.blog-lines {
 /* border: 1px solid red; */
 font-size: 8px;
 float: left;
 padding: 10px 20px 0px 15px;
 overflow: hidden;
 text-overflow:ellipsis;
}

.info {
  /* border: 1px solid red; */
  text-align: left;
  color: #666;
  float: left;
  font-size: 8px;
  padding: 0px 20px 30px 5px;
  margin: 10px;
}


/**
 * blog classify
 */

.blog-classify {
  height: 95%;
  float: left;
  line-height: 30px;
  padding: 50px 0px 0px 0px;
  margin: 0px auto;
}

.blog-tag {
  padding: 0px 0px;
  margin: 0px;
}

.blog-links {
  padding: 0px 0px;
  margin: 0px;
}

