
/* ---------- header title bar ---------- */

.bbr {
  width: 100%;
  margin: 5px 0px;
}

.header{
  /* border: 0.5px solid #0bc; */
  /* background: #666; */
  width: 100%;
  height: 50px;
  min-width: 600px;
  margin: 0;
  padding: 10px 0px;
  position: relative;
  z-index: 0;
}

.navbar-header {
  /* border: 1px solid red; */
  width: 300px;
  height: 50px;
  text-align: left;
  padding: 3px 50px 0px 50px;
  margin: 0;
  float: left;
}

.navbar-user {
  /* border: 1px solid red; */
  float: right;
  text-align: center;
  padding: 5px 8px 0px 0px;
  margin: 10px 10px 10px 0;
}

.navbar-user li {
  /* border: 1px solid red; */
  margin: 0px 10px 0px 0px;
  text-align: center;
  float: left;
}

/* ---------- section ---------- */

section {
  /* border: 1px solid red; */
  width: 100%;
  height: 500px;
  /* padding: 10px; */
}

/* ---------- blog list ---------- */

.blog-list {
  /* border: 1px solid red; */
  width: 75%;
  height: 95%;
  float: left;
  padding: 50px 0px 5px 30px;
}

.list-group {
  /* border: 1px solid red; */
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.list-group-item {
  /* border: 1px solid red; */
  height: 50px;
  /* background: #ccc; */
  padding: 0px;
}

.blog-title {
  /* border: 1px solid red; */
  width: 75%;
  /* height: 200%; */
  font-size: 20px;
  float: left;
}

.blog-lines {
 /* border: 1px solid red; */
 font-size: 8px;
 float: left;
 padding: 10px 20px 0px 15px;
 overflow: hidden;
 text-overflow:ellipsis;
}

.info {
  /* border: 1px solid red; */
  text-align: left;
  color: #666;
  float: left;
  font-size: 8px;
  padding: 0px 20px 30px 5px;
  margin: 10px;
}


/* ---------- blog tag ---------- */

.blog-classify {
  /* border: 1px solid red; */
  /* width: 20%; */
  height: 95%;
  float: right;
  line-height: 30px;
  padding: 50px 0px 0px 15px;
}

.blog-tag {
  padding: 0px 0px;
  margin: 0px;
}

.blog-links {
  padding: 0px 0px;
  margin: 0px;
}

